/* NAVIVATION BAR */
#nav_logo {
	height: 45px;
}
.navbar-brand {
	padding: 5px 10px 5px 15px;
}
.navbar-right {
	padding-top: 5px;
	padding-right: 30px;
}
.navbar-collapse.collapse.in ul li, .navbar-collapse.collapsing ul li {
	text-align: center;
	font-size: 25px;
	margin: 20px;
}


/* MENU */
.menu-header-img {
	margin-top: 55px;
	height: 175px;
	background-color: red;
	width: 100%;
	display: flex;
  justify-content: center;
}
.menu-header {
	font-size: 70px;
	align-self: center;
	text-align: center;
}
.menu-col {
	margin-bottom: 50px;
}
.menu-item {
	margin-top: 50px;
}
.item-name {
	font-size: 18px;
	font-weight: bold;
}
.item-price {
	font-size: 18px;
	font-weight: bold;
}
.item-description {
	color: gray;
	margin-left: 15px;
}