<link rel="stylesheet" href="/css/about.css">

<div id="about">
	<div class="container-fluid" id="chefimg">
		
		<div id="about_image" class="col-xs-12 col-md-6">
			<img class="img-responsive" src="http://www.sepeb.com/chef/image_20170128_220323.jpg">
		</div>
		
		<div id="about_content" class="col-xs-12 col-md-6">
			<center><h1>Meet Victor</h1></center>
			<p>Restaurant</p>
			<p>Restaurant</p>
			<p>Restaurant</p>
			<p>Restaurant</p>
			<p>Restaurant</p>
		</div>
	</div>
</div>
