<script src="/js/about.js"></script>

<div id="about">
  <div class="container-fluid" id="chefimg">
    <div id="about_image" class="col-xs-12 col-md-6">
      <img class="victor img-responsive col-xs-6" src="./img/victor.png">
      <img class="inside img-responsive col-xs-6 col-sm-12" src="./img/interior.jpg">
    </div>
    <div id="about_content" class="col-xs-12 col-md-6">
      <center><h1>About</h1></center>
      <p>Victor Liu opened up his restaurant in 1985 after coming to the United States from Japan. He came to America to work at another company, then choose to open Red Moon Noodle House. Victor chose to open a chuka ryori restaurant because his Father owned a similar restaurant in Japan and he thought the style of food was unique being Japanese style Chinese food that was hard to find in San Diego. He owns the restaurant with his wife Mae, serving delicious homemade Chinese food to the customers like family. </p>
    </div>
  </div>
</div>