<link rel="stylesheet" href="/css/cater.css">

<div id="cater">
	<div class="container-fluid" id="cater-body">
		
		<div id="cater_image" class="col-xs-12 col-md-6">
			<img class="img-responsive" src="http://www.dimichelliscatering.com/wp-content/uploads/2016/03/8709589.jpg">
			<img class="img-responsive extra_image" src="https://static1.squarespace.com/static/558d41ade4b00cc962c848ca/t/558d9896e4b0950b23e44954/1435342999463/othercatering.jpg?format=2500w">
		</div>
		
		<div id="cater_content" class="col-xs-12 col-md-6">
			<center><h1>Catering Inquiry</h1></center>
			
			<form  role="form">
				<label>Name</label> 
				<input class="form-control input-lg" type="text"> 

				<label>Email</label> 
				<input class="form-control input-lg" type="email"> 
				
				<label>Phone</label> 
				<input class="form-control input-lg" type="text"> 
				
				<label>Date of Event</label>
				<input class="form-control input-lg" type="date">
				
				<label>Message:</label> 
				<textarea class="form-control input-lg" id="message" name="message" rows="10"></textarea>
					
				<button id="cater_submit" class="btn btn-primary btn-lg center-block" type="submit">Send</button>
			</form>		
			
		</div>
	</div>
</div>

<script>
</script>