<link rel="stylesheet" href="/css/cater.css">
<script src="/js/cater.js"></script>

<div id="cater">
	<div class="container-fluid" id="cater-body">
		<div class="vcenter">
			<div id="cater_image" class="col-xs-12 col-md-5">
				<img class="img-responsive" src="/img/cater.jpg">
			</div>

			<div id="cater_content" class="col-xs-12 col-md-7">
				<center><h1>Catering Inquiry</h1></center>

				<form  role="form" data-toggle="validator">
					<label>Name*</label>
					<input class="form-control input-sm" id="name" type="text" required>

					<label>Email</label> 
					<input class="form-control input-sm" id="email" type="email">

					<label>Phone</label> 
					<input class="form-control input-sm" id="phone" type="text">

					<label>Date of Event</label>
					<input class="form-control input-sm" id="date" type="date">

					<label>Message:</label> 
					<textarea class="form-control input-sm" id="message" name="message" rows="5"></textarea>
                    <button id="cater_submit" class="btn btn-redMoon btn-md center-block">Send</button>


				</form>


			</div>
		</div>
	</div>
</div>

<script>
</script>