<link rel="stylesheet" href="/css/cater.css">

<div id="cater">
	<div class="container-fluid" id="cater-body">
		<div class="row vcenter">
			<div id="cater_image" class="col-xs-12 col-md-6">
				<img class="img-responsive" src="http://www.dimichelliscatering.com/wp-content/uploads/2016/03/8709589.jpg">
			</div>

			<div id="cater_content" class="col-xs-12 col-md-6">
				<center><h1>Catering Inquiry</h1></center>

				<form  role="form">
					<label>Name</label> 
					<input class="form-control input-sm" type="text"> 

					<label>Email</label> 
					<input class="form-control input-sm" type="email"> 

					<label>Phone</label> 
					<input class="form-control input-sm" type="text"> 

					<label>Date of Event</label>
					<input class="form-control input-sm" type="date">

					<label>Message:</label> 
					<textarea class="form-control input-sm" id="message" name="message" rows="5"></textarea>

					<button id="cater_submit" class="btn btn-redMoon btn-md center-block" type="submit">Send</button>
				</form>		

			</div>
		</div>
	</div>
</div>

<script>
</script>