<link rel="stylesheet" href="/css/menu.css">
<script type="text/javascript" src="/js/menu_desktop.js"></script>

<!-- MENU MOBILE -->
<div class="container" id="menu_mobile">
<div class="menu-section">	
	<div class="menu-header-img col-xs-12" id="header1" data-toggle="collapse" data-target="#cat1">
		<div class="menu-header col-xs-12">
			Menu Category
		</div>
	</div>
	<div class="menu-container">
		<div id="cat1" class="menu-category collapse">
			<div class="menu-col menu-left col-sm-6 col-xs-12">
				<div class="menu-item">
					<div class="row">
						<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
						<div class="item-price col-xs-2">$10</div>
					</div>
					<div class="row">
						<div class="item-description col-xs-12">some short description</div>
					</div>
				</div>
				<div class="menu-item">
					<div class="row">
						<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
						<div class="item-price col-xs-2">$10</div>
					</div>
					<div class="row">
						<div class="item-description col-xs-12">some short description</div>
					</div>
				</div>
				<div class="menu-item">
					<div class="row">
						<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
						<div class="item-price col-xs-2">$10</div>
					</div>
					<div class="row">
						<div class="item-description col-xs-12">some short description</div>
					</div>
				</div>
			</div>
			<div class="menu-col menu-right col-sm-6 col-xs-12">
				<div class="menu-item">
					<div class="row">
						<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
						<div class="item-price col-xs-2">$10</div>
					</div>
					<div class="row">
						<div class="item-description col-xs-12">some short description</div>
					</div>
				</div>
				<div class="menu-item">
					<div class="row">
						<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
						<div class="item-price col-xs-2">$10</div>
					</div>
					<div class="row">
						<div class="item-description col-xs-12">some short description</div>
					</div>
				</div>
				<div class="menu-item">
					<div class="row">
						<div class="item-name col-xs-10">menu name </div>
						<div class="item-price col-xs-2">$10</div>
					</div>
					<div class="row">
						<div class="item-description col-xs-12">some short description</div>
					</div>
				</div>
				<div class="menu-item last-item">
					<div class="row">
						<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
						<div class="item-price col-xs-2">$10</div>
					</div>
					<div class="row">
						<div class="item-description col-xs-12">some short description</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>			
<!-- MENU SECTION END -->
<!-- MENU SECTION -->
<div class="menu-section">	
	<div class="menu-header-img col-xs-12" id="header2" data-toggle="collapse" data-target="#cat2">
		<div class="menu-header col-xs-12">
			Menu Category
		</div>
	</div>
	<div class="menu-container">
		<div id="cat2" class="menu-category collapse">
			<div class="menu-col menu-left col-sm-6 col-xs-12">
				<div class="menu-item">
					<div class="row">
						<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
						<div class="item-price col-xs-2">$10</div>
					</div>
					<div class="row">
						<div class="item-description col-xs-12">some short description</div>
					</div>
				</div>
				<div class="menu-item">
					<div class="row">
						<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
						<div class="item-price col-xs-2">$10</div>
					</div>
					<div class="row">
						<div class="item-description col-xs-12">some short description</div>
					</div>
				</div>
				<div class="menu-item">
					<div class="row">
						<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
						<div class="item-price col-xs-2">$10</div>
					</div>
					<div class="row">
						<div class="item-description col-xs-12">some short description</div>
					</div>
				</div>
			</div>
			<div class="menu-col menu-right col-sm-6 col-xs-12">
				<div class="menu-item">
					<div class="row">
						<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
						<div class="item-price col-xs-2">$10</div>
					</div>
					<div class="row">
						<div class="item-description col-xs-12">some short description</div>
					</div>
				</div>
				<div class="menu-item">
					<div class="row">
						<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
						<div class="item-price col-xs-2">$10</div>
					</div>
					<div class="row">
						<div class="item-description col-xs-12">some short description</div>
					</div>
				</div>
				<div class="menu-item">
					<div class="row">
						<div class="item-name col-xs-10">menu name </div>
						<div class="item-price col-xs-2">$10</div>
					</div>
					<div class="row">
						<div class="item-description col-xs-12">some short description</div>
					</div>
				</div>
				<div class="menu-item last-item">
					<div class="row">
						<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
						<div class="item-price col-xs-2">$10</div>
					</div>
					<div class="row">
						<div class="item-description col-xs-12">some short description</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>			
<!-- MENU SECTION END -->
<!-- MENU SECTION -->
<div class="menu-section">	
	<div class="menu-header-img col-xs-12" id="header3" data-toggle="collapse" data-target="#cat3">
		<div class="menu-header col-xs-12">
			Menu Category
		</div>
	</div>
	<div class="menu-container">
		<div id="cat3" class="menu-category collapse">
			<div class="menu-col menu-left col-sm-6 col-xs-12">
				<div class="menu-item">
					<div class="row">
						<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
						<div class="item-price col-xs-2">$10</div>
					</div>
					<div class="row">
						<div class="item-description col-xs-12">some short description</div>
					</div>
				</div>
				<div class="menu-item">
					<div class="row">
						<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
						<div class="item-price col-xs-2">$10</div>
					</div>
					<div class="row">
						<div class="item-description col-xs-12">some short description</div>
					</div>
				</div>
				<div class="menu-item">
					<div class="row">
						<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
						<div class="item-price col-xs-2">$10</div>
					</div>
					<div class="row">
						<div class="item-description col-xs-12">some short description</div>
					</div>
				</div>
			</div>
			<div class="menu-col menu-right col-sm-6 col-xs-12">
				<div class="menu-item">
					<div class="row">
						<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
						<div class="item-price col-xs-2">$10</div>
					</div>
					<div class="row">
						<div class="item-description col-xs-12">some short description</div>
					</div>
				</div>
				<div class="menu-item">
					<div class="row">
						<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
						<div class="item-price col-xs-2">$10</div>
					</div>
					<div class="row">
						<div class="item-description col-xs-12">some short description</div>
					</div>
				</div>
				<div class="menu-item">
					<div class="row">
						<div class="item-name col-xs-10">menu name </div>
						<div class="item-price col-xs-2">$10</div>
					</div>
					<div class="row">
						<div class="item-description col-xs-12">some short description</div>
					</div>
				</div>
				<div class="menu-item last-item">
					<div class="row">
						<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
						<div class="item-price col-xs-2">$10</div>
					</div>
					<div class="row">
						<div class="item-description col-xs-12">some short description</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>			
<!-- MENU SECTION END -->
</div>

<!-- MENU DESKTOP -->
<div id="menu_desktop" class="container">
	<div id="category_col" class="col-xs-4">
		<div class="row">
			<div id="menu_cat1" class="category_menu col-xs-6">
				<div class="desktop-header-1 desktop-header-img col-xs-12">
					<div class="menu-header col-xs-12">
						Menu Category
					</div>
				</div>
			</div>
			<div id="menu_cat2" class="category_menu col-xs-6">
				<div class="desktop-header-2 desktop-header-img col-xs-12">
					<div class="menu-header col-xs-12">
						Menu Category
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="menu_cat3" class="category_menu col-xs-6">
				<div class="desktop-header-3 desktop-header-img col-xs-12">
					<div class="menu-header col-xs-12">
						Menu Category
					</div>
				</div>
			</div>
			<div id="menu_cat4" class="category_menu col-xs-6">
				<div class="desktop-header-4 desktop-header-img col-xs-12">
					<div class="menu-header col-xs-12">
						Menu Category
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="menu_cat5" class="category_menu col-xs-6">
				<div class="desktop-header-5 desktop-header-img col-xs-12">
					<div class="menu-header col-xs-12">
						Menu Category
					</div>
				</div>
			</div>
			<div id="menu_cat6" class="category_menu col-xs-6">
				<div class="desktop-header-6 desktop-header-img col-xs-12">
					<div class="menu-header col-xs-12">
						Menu Category
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="menu_col1" class="col-xs-offset-1 col-xs-7 menu-cat">
		<div class="menu-col menu-left col-xs-6">
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu1 name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
		</div>
		<div class="menu-col menu-right col-xs-6">
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name </div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item last-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="menu_col2" class="col-xs-offset-1 col-xs-7 menu-cat">
		<div class="menu-col menu-left col-xs-6">
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu2 name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
		</div>
		<div class="menu-col menu-right col-xs-6">
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name </div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item last-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="menu_col3" class="col-xs-offset-1 col-xs-7 menu-cat">
		<div class="menu-col menu-left col-xs-6">
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu3 name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
		</div>
		<div class="menu-col menu-right col-xs-6">
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name </div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item last-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="menu_col4" class="col-xs-offset-1 col-xs-7 menu-cat">
		<div class="menu-col menu-left col-xs-6">
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu4 name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
		</div>
		<div class="menu-col menu-right col-xs-6">
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name </div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item last-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="menu_col5" class="col-xs-offset-1 col-xs-7 menu-cat">
		<div class="menu-col menu-left col-xs-6">
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu5 name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
		</div>
		<div class="menu-col menu-right col-xs-6">
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name </div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item last-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="menu_col6" class="col-xs-offset-1 col-xs-7 menu-cat">
		<div class="menu-col menu-left col-xs-6">
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu6 name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
		</div>
		<div class="menu-col menu-right col-xs-6">
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name </div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item last-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
		</div>
	</div>
	
</div>