<link rel="stylesheet" href="/css/menu.css">

<div class="menu-section">	
	<div class="menu-header-img col-xs-12">
		<div class="menu-header" col-xs-12>
			Menu Category
		</div>
	</div>
	<div class="container">
		<div class="menu-col menu-left col-sm-6 col-xs-12">
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="row">
					<div class="item-name col-xs-10">menu name name name name name name name name name name</div>
					<div class="item-price col-xs-2">$10</div>
				</div>
				<div class="row">
					<div class="item-description col-xs-12">some short description</div>
				</div>
			</div>
		</div>
		<div class="menu-col menu-right col-sm-6 col-xs-12">
			<div class="menu-item">
				<div class="item-name col-xs-9">menu name</div>
				<div class="item-price">$10</div>
				<div class="item-description col-xs-12">some short description</div>	
			</div>
			<div class="menu-item">
				<div class="item-name col-xs-9">menu name</div>
				<div class="item-price">$10</div>
				<div class="item-description col-xs-12">some short description</div>	
			</div>
			<div class="menu-item">
				<div class="item-name col-xs-9">menu name</div>
				<div class="item-price">$10</div>
				<div class="item-description col-xs-12">some short description</div>	
			</div>
			<div class="menu-item">
				<div class="item-name col-xs-9">menu name</div>
				<div class="item-price">$10</div>
				<div class="item-description col-xs-12">some short description</div>	
			</div>
		</div>
	</div>
</div>			
			