#about {
	margin-top: 75px;
	color: #d4ac74;
}

#about_content {
	padding: 10px 40px 50px 40px;
	text-align: center;
}

#about_content p {
  font-size: 20px;;
}

#about_image {
	padding: 0;
  overflow: hidden;
	position: relative;
}

#about_image img {
	padding: 0px;
}

.victor {
	object-fit: cover;
}

#chefimg {
    padding: 0px;
}

@media (max-width: 800px) {
	#chefimg {
		overflow: scroll;
		height: 73vh;
	}
}

@media (min-width: 845px) {
  #chefimg {
		padding-top: 10px !important;
	}
}



