#about {
	margin-top: 75px;
	color: #d4ac74;
}

@media (max-width: 800px) {
	#chefimg {
		overflow: scroll;
		height: 73vh;
	}
}

@media (min-width: 845px) {
  #chefimg {
		padding-top: 10px !important;
	}
}

#about_content p {
    font-size: 17px;;
}

#about_image {
	padding: 0;
  overflow: hidden;
	position: relative;
}

#about_image img {
	padding: 0px;
}

.victor {
	object-fit: cover;
}

#about_content {
	padding: 10px 40px 50px 40px;
	text-align: center;
}

#chefimg {
    padding: 0px;
}

/*
@media (max-width: 480px) {
  #about_content {
    padding: 10px 60px 20px 60px;
	}
}

@media (max-width: 797px) {
    body { 
        padding-left: 0px;
        padding-right: 0px;
    }
}
*/



