#about {
	margin-top: 75px;
	color: #d4ac74;
}

@media (max-width: 800px) {
	#chefimg {
		overflow: scroll;
		height: 73vh;
	}
}

#about_content p {
    font-size: 17px;;
}

#about_image {
	padding: 0;
	height: 60vh;
  overflow: hidden;
	position: relative;
}

#about_image img {
	height: auto;
	width: 100%;
	position: relative;
}

@media screen and (min-width: 500px) {
	#about_image img {
		top: -60px;
		width: 60%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 500px) {
	#about_image img {
		top: 0px;
		width: 100%;
	}
}

@media screen and (min-width: 1000px) {
	#about_image img {
		top: -100px;
		width: 100%;
	}
}

@media screen and (min-width: 1080px) {
	#about_image img {
		top: -150px !important;
		width: 100% !important;
	}
}

#about_content {
	padding: 10px 40px 50px 40px;
	text-align: center;
}

#chefimg {
    padding: 0px;
}

/*
@media (max-width: 480px) {
  #about_content {
    padding: 10px 60px 20px 60px;
	}
}

@media (max-width: 797px) {
    body { 
        padding-left: 0px;
        padding-right: 0px;
    }
}
*/



