#cater {
	margin-top: 75px;
	color: #d4ac74;
}

.cater-modal {
	text-align: center;
	top: 30%;
}

#cater_image {
	padding: 0;
}

@media (max-width: 991px) {
  .extra_image {
    display: none;
	}
}

#cater_content {
	padding: 0 40px;
}

#cater_submit, #cater_load {
	margin: 10px auto;	
}

#cater-body {
   padding: 0px;
}

#cater_load {
	display: none;
}

label {
	margin-top: 15px;
}

@media (max-width: 480px) {
  #about_content {
    padding: 10px 60px 20px 60px;
	}
}

@media (max-width: 797px) {
    body { 
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media (min-width: 797px) {
	.vcenter {
			display: flex;
			align-items: center;
	}
}
