#map {
		height: 400px;
		width: 100%;
}

#contact_map {
	padding: 0;
}

#content_content {
	padding: 0 40px;
}

#gmap {
    padding: 0px;
}

.btn-redMoon { 
  color: #ffffff; 
  background-color: #840A11; 
  border-color: #4F0307; 
} 
 
.btn-redMoon:hover, 
.btn-redMoon:focus, 
.btn-redMoon:active, 
.btn-redMoon.active, 
.open .dropdown-toggle.btn-redMoon { 
  color: #ffffff; 
  background-color: #B52128; 
  border-color: #4F0307; 
} 
 
.btn-redMoon:active, 
.btn-redMoon.active, 
.open .dropdown-toggle.btn-redMoon { 
  background-image: none; 
} 
 
.btn-redMoon.disabled, 
.btn-redMoon[disabled], 
fieldset[disabled] .btn-redMoon, 
.btn-redMoon.disabled:hover, 
.btn-redMoon[disabled]:hover, 
fieldset[disabled] .btn-redMoon:hover, 
.btn-redMoon.disabled:focus, 
.btn-redMoon[disabled]:focus, 
fieldset[disabled] .btn-redMoon:focus, 
.btn-redMoon.disabled:active, 
.btn-redMoon[disabled]:active, 
fieldset[disabled] .btn-redMoon:active, 
.btn-redMoon.disabled.active, 
.btn-redMoon[disabled].active, 
fieldset[disabled] .btn-redMoon.active { 
  background-color: #840A11; 
  border-color: #4F0307; 
} 
 
.btn-redMoon .badge { 
  color: #840A11; 
  background-color: #ffffff; 
}