.background {
	background-color: rgba(255, 255, 255, 0.57);
	box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.57);
}

#contact h3 {
	color: #d4ac74;
	font-size: 35px;
}

#contact_map {
	padding: 0;
	margin-top: 10px;
}

#contact_content > div:nth-child(1) {
	margin-top: 10px;
}

#contact_content > div:nth-child(2) > div {
	margin-top: 35px;
}

#content_content {
	padding: 0 40px;
}

#front-image{
  margin: auto;
}

#gmap {
  padding: 0px;
}

#map {
	height: 525px;
	width: 100%;
}

.panel-body {
	margin-top: 20px;
}

@media (max-width: 480px){
	#map{
			height: 200px;
	}
	#front-image{
			height: 100%;
			width : 100%;
	}
}