/* Contents:
		Basic Style
		Featured Carousel
		Hours and Specials
		Awards Carousel
		Mobile View
		Yelp Carousel
*/

/* Basic Style*/
html {
  height: 100%;
}

body {
	min-height: 100%;
}

.ab {
  position: absolute;
}

.block {
  display: block;
}

.slide {
	width: 100%;
}

.zmin {
  z-index: 1;
}

/* Featured Carousel */
#featured {
	height: 500px;
}

#featuredCarousel > div {
  height: 450px !important; 
}

#featuredCarousel .item h3 {
	color: white;
	left: 15px;
	position: absolute;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	top: 5px;
	z-index: 999;
}

@media screen and (min-width: 1100px) {
	#featuredCarousel img {
		position: relative;
		transform: translateY(-20%);
	}
}

/* Hours and Specials */
.border-between > [class*='col-']:before {
	background: white;
	bottom: 0;
	content: " ";
	left: 0;
	position: absolute;
	width: 5px;
	top: 0;
}

.border-between > [class*='col-']:first-child:before {
  display: none;
}

.row.border-between {
	background-color: #830A10;
	color: white;
	margin: 0;
}

#hours {
	margin-bottom: 20px;
	padding: 0;
	text-align: center;
}

#hours .day {
	text-align: right;
}

#hours .seperator {
	overflow: hidden;
	padding: 0;
}

#hours .time {
	padding-right: 0;
	text-align: left;
}

#hours-group {
	margin-bottom: 20px;
	padding-right: 25px;
}

#specials {
	margin-bottom: 30px;
	text-align: center;
}

#specials h3 {
	margin: 0 auto;
	width: 60%;
}

/* Awards Carousel */
#awardsCarousel > div {
	height: 300px !important;
	margin-top: 50px;
}

#intro, #awards {
	color: #d4ac74;
	margin: 25px auto;
	text-align: center;
	width: 90%;
}

/* Yelp Carousel */
#carousel-reviews > .carousel-control.left, #carousel-reviews > .carousel-control.right  {
	background: none;
	width: 25px;
}

#carousel-reviews > .left.carousel-control, 
#carousel-reviews > .carousel-control.right {
	left: -25px;
}

.block-text {
	background-color: rgba(0, 0, 0, 0.36);
	font-size: 14px;
	height: 390px;
	margin-top: 27px;
	padding: 15px 18px;
	text-align: center;
}

.block-text p {
	color: #fff;
	font-family: Georgia;
	line-height: 20px;
}

.block-text ins {
	bottom: -44px;
	left: 50%;
	margin-left: -60px;
}

.rel {
	position: relative;
}

.reviewer {
	margin-bottom: 10px;
}

.reviewer a {
	color: white;
}

.review_img {
	margin-bottom: 10px;
	width: 175px;
}

.star {
	color: white;
	font-size: 2em;
}

.star .fa {
	background-color: #830a10;
	padding: 5px;
}

/* Mobile View */
@media screen and (max-width: 480px) {
  h1 {
		font-size: 30px;
	}
	
	h3 {
		font-size: 18px;
	}
	
	#featuredCarousel > div {
		height: 100% !important; 
	}
	
	#featuredCarousel .item h3 {
		font-size: 17px;
		top: -3px;
	}
	
	#awardsCarousel > div {
		height: 170px !important;
	}
}
