html {
  height: 100%;
}
body {
  min-height: 100%;
}

.border-between > [class*='col-']:before {
	background: white;
	bottom: 0;
	content: " ";
	left: 0;
	position: absolute;
	width: 5px;
	top: 0;
}
.border-between > [class*='col-']:first-child:before {
  display: none;
}

#featured {
	height: 500px;
}
#featuredCarousel > div {
  height: 450px !important; 
}

@media screen and (max-width: 480px) {
  #featuredCarousel > div {
		height: 100% !important; 
	}
}

.row.border-between {
	background-color: #830A10;
	color: white;
	margin: 0;
}

#hours {
	text-align: center;
	padding: 0;
	margin-bottom: 20px;
}

#hours .day {
	text-align: right;
}

#hours .seperator {
	padding: 0;
  overflow: hidden;
}

#hours .time {
	text-align: left;
	padding-right: 0;
}

#hours-group {
	padding-right: 25px;
	margin-bottom: 20px;
}

#specials {
	text-align: center;
	margin-bottom: 30px;
}

#specials h3 {
	width: 60%;
	margin: 0 auto;
}

#awardsCarousel > div {
	height: 300px !important;
	margin-top: 50px;
}


@media screen and (max-width: 480px) {
  #awardsCarousel > div {
		height: 170px !important;
	}
}

#featuredCarousel .item h3 {
	position: absolute;
	top: 5px;
	left: 15px;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@media screen and (max-width: 480px) {
  #featuredCarousel .item h3 {
		font-size: 17px;
		top: -3px;
	}
}

#intro, #awards {
	color: #d4ac74;
	text-align: center;
	width: 90%;
	margin: 25px auto;
}

/* NEW */
#carousel-reviews > .carousel-control.left, #carousel-reviews > .carousel-control.right  {background:none;width:25px;}
#carousel-reviews > .left.carousel-control {left:-25px;}
#carousel-reviews > .carousel-control.right {right:-25px;}
.broun-block {
    background: url("http://myinstantcms.ru/images/bg-broun1.jpg") repeat scroll center top rgba(0, 0, 0, 0);
    padding-bottom: 34px;
}
.block-text {
    background-color: black;
    font-size: 14px;
    margin-top: 27px;
    padding: 15px 18px;
		text-align: center;
		height: 390px;
}

.block-text p {
    color: #fff;
    font-family: Georgia;
    line-height: 20px;
}

.block-text ins {
    bottom: -44px;
    left: 50%;
    margin-left: -60px;
}


.block {
    display: block;
}
.zmin {
    z-index: 1;
}
.ab {
    position: absolute;
}

.person-text {
    padding: 10px 0 0;
    text-align: center;
    z-index: 2;
}
.person-text a {
    color: #830A10;
    display: block;
    font-size: 14px;
    margin-top: 3px;
    text-decoration: underline;
}
.rel {
    position: relative;
}
.star {
	font-size: 2em;
	color: white;
}
.star .fa {
	background-color: #830a10;
	padding: 5px;
}
.reviewer {
	margin-bottom: 10px;
}
.reviewer a {
	color: white;
}
.review_img {
	width: 175px;
	margin-bottom: 10px;
}