/* Colors */
#about {
  margin-top: 75px;
  color: #d4ac74;
}
#about #about_content {
  padding: 10px 40px 50px 40px;
  text-align: center;
}
#about #about_content p {
  font-size: 20px;
}
#about #about_image {
  padding: 0;
  overflow: hidden;
  position: relative;
}
#about #about_image img {
  padding: 0px;
}
#about .victor {
  object-fit: cover;
}
#about #chefimg {
  padding: 0px;
}
@media (max-width: 800px) {
  #about #chefimg {
    overflow: scroll;
  }
}
@media (min-width: 845px) {
  #about #chefimg {
    padding-top: 10px !important;
  }
}
#cater {
  margin-top: 75px;
  color: #d4ac74;
}
#cater #cater_content {
  padding: 0 40px;
}
@media (max-width: 480px) {
  #cater #cater_content {
    padding: 10px 60px 20px 60px;
  }
}
#cater #cater-body,
#cater #cater_image {
  padding: 0px;
}
#cater .cater-modal {
  text-align: center;
  top: 30%;
}
#cater #cater_load,
#cater #cater_submit {
  margin: 10px auto;
}
#cater #cater_load {
  display: none;
}
#cater label {
  margin-top: 15px;
}
@media (min-width: 797px) {
  #cater .vcenter {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 797px) {
  #cater body {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 991px) {
  #cater .extra_image {
    display: none;
  }
}
#contact h3 {
  color: #d4ac74;
  font-size: 35px;
}
#contact .background {
  background-color: rgba(255, 255, 255, 0.57);
  box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.57);
}
#contact #contact_map {
  padding: 0;
  margin-top: 10px;
}
#contact #contact_content > div:nth-child(1) {
  margin-top: 10px;
}
#contact #contact_content > div:nth-child(2) > div {
  margin-top: 35px;
}
#contact #content_content {
  padding: 0 40px;
}
#contact #front-image {
  margin: auto;
}
@media (max-width: 480px) {
  #contact #front-image {
    height: 100%;
    width: 100%;
  }
}
#contact #gmap {
  padding: 0px;
}
#contact #map {
  height: 525px;
  width: 100%;
}
@media (max-width: 480px) {
  #contact #map {
    height: 200px;
  }
}
#contact .panel-body {
  margin-top: 20px;
}
* {
  margin: 0;
}
.address_margin {
  margin-left: 55px;
}
html {
  height: 88%;
}
body {
  position: relative;
  padding-bottom: 130px;
  min-height: 100%;
}
.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}
#footer {
  height: 115px;
  z-index: 999;
}
.footer {
  color: white;
  background: #830a10;
  border-bottom: 1px solid #58080c;
  border-top: 1px solid #750c11;
  bottom: 0;
  height: auto;
  left: 0;
  padding-bottom: 30px;
  position: absolute;
  right: 0;
  width: 100%;
}
.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #54697E;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}
.footer a {
  color: white;
}
.footer p {
  margin: 0;
}
.footer img {
  max-width: 100%;
}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 8px;
  padding-left: 0;
  margin-top: 15px;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
#footer > div > div:nth-child(1) > div > center {
  margin-top: 10px;
}
.footer-bottom {
  background: #E3E3E3;
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}
.full {
  width: 100%;
}
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}
#home #return-to-top {
  color: rgba(255, 255, 255, 0.86);
  float: right;
  margin-right: 20px;
}
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover {
  transform: translateY(-8px);
}
.newsletter-box {
  overflow: hidden;
}
.newsletter-box .btn {
  color: #fff;
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
}
.newsletter-box input#appendedInputButton {
  background: #fff;
  clear: both;
  display: inline-block;
  float: left;
  height: 30px;
  width: 100%;
}
.payments {
  font-size: 1.5em;
}
#return-to-top {
  color: rgba(255, 255, 255, 0.86);
  float: right;
  margin-right: 20px;
}
#return-to-top:hover {
  text-decoration: none;
}
.social li {
  background: none repeat scroll 0 0 #3b3b3b;
  border: 2px solid #3b3b3b;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 3px;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
  color: #EDEFF1;
}
.social li a i {
  font-size: 16px;
  color: #EDEFF1 !important;
}
.social .facebook:hover {
  border: 2px solid #2c3e50;
  background-color: #3b5998;
  color: #3b5998;
}
.social .yelp:hover {
  border: 2px solid #be2020;
  background: #d32323;
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
#to-top {
  position: fixed;
  bottom: 100px;
  right: 0px;
  width: 60px;
  z-index: 999;
}
@media screen and (max-width: 480px) {
  .address_mobile {
    display: inherit;
  }
  .address_desktop {
    display: inherit;
  }
  .address_mobile {
    display: none;
  }
  body {
    min-height: 100%;
    padding-bottom: 36%;
    position: relative;
  }
  #footer .container {
    padding: 0;
  }
}
/* Contents:
		Basic Style
		Featured Carousel
		Hours and Specials
		Awards Carousel
		Mobile View
		Yelp Carousel
*/
/* Basic Style*/
html {
  height: 100%;
}
body {
  min-height: 100%;
}
.ab {
  position: absolute;
}
.block {
  display: block;
}
.slide {
  width: 100%;
}
.zmin {
  z-index: 1;
}
/* Featured Carousel */
#featured {
  height: 500px;
}
#featuredCarousel > div {
  height: 450px !important;
}
#featuredCarousel .item h3 {
  color: white;
  left: 15px;
  position: absolute;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  top: 5px;
  z-index: 999;
}
@media screen and (min-width: 1100px) {
  #featuredCarousel img {
    position: relative;
    transform: translateY(-20%);
  }
}
/* Hours and Specials */
.border-between > [class*='col-']:before {
  background: white;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  width: 5px;
  top: 0;
}
.border-between > [class*='col-']:first-child:before {
  display: none;
}
.row.border-between {
  background-color: #830a10;
  color: white;
  margin: 0;
}
#hours {
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}
#hours .day {
  text-align: right;
}
#hours .seperator {
  overflow: hidden;
  padding: 0;
}
#hours .time {
  padding-right: 0;
  text-align: left;
}
#hours-group {
  margin-bottom: 20px;
  padding-right: 25px;
}
#specials {
  margin-bottom: 30px;
  text-align: center;
}
#specials h3 {
  margin: 0 auto;
  width: 60%;
}
/* Awards Carousel */
#awardsCarousel > div {
  height: 300px !important;
  margin-top: 50px;
}
#intro,
#awards {
  color: #d4ac74;
  margin: 25px auto;
  text-align: center;
  width: 90%;
}
/* Yelp Carousel */
#yelpCarousel {
  height: 450px;
}
#yelpCarousel span {
  font-size: 60px;
  margin-top: -50px;
}
#yelpCarousel .carousel-control.left {
  left: -120px;
}
#yelpCarousel .carousel-control.right {
  right: -85px;
}
#yelpCarousel .carousel-control.left, 
#yelpCarousel .carousel-control.right {
  background-image: none;
  top: 125px;
}
#yelpCarousel .carousel-inner {
  left: 7%;
  height: 300px;
  overflow: visible;
  width: 86%;
}
.block-text {
  background-color: rgba(0, 0, 0, 0.36);
  font-size: 14px;
  height: 420px;
  margin-top: 27px;
  padding: 15px 18px;
  text-align: center;
}
.block-text p {
  color: #fff;
  font-family: Georgia;
  line-height: 20px;
}
.block-text ins {
  bottom: -44px;
  left: 50%;
  margin-left: -60px;
}
.rel {
  position: relative;
}
.reviewer {
  margin-bottom: 10px;
}
.reviewer a {
  color: white;
}
.review_img {
  margin-bottom: 10px;
  width: 175px;
}
.star {
  color: white;
  font-size: 2em;
}
.star .fa {
  background-color: #830a10;
  padding: 5px;
}
/* Mobile View */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
  #featuredCarousel > div {
    height: 100% !important;
  }
  #featuredCarousel .item h3 {
    font-size: 17px;
    top: -3px;
  }
  #awardsCarousel > div {
    height: 170px !important;
  }
}
@media screen and (max-width: 990px) {
  #yelpCarousel .last {
    display: none;
  }
  #yelpCarousel .carousel-inner {
    left: 10%;
    width: 80%;
  }
  #yelpCarousel .carousel-control.left {
    left: -17%;
  }
  #yelpCarousel .carousel-control.right {
    right: -17%
  }
}
/* MENU */
@media (min-width: 797px) {
  #menu #menu_mobile {
    display: none;
  }
}
@media (max-width: 797px) {
  #menu #menu_desktop {
    display: none;
  }
}
#menu a.close_menu {
  color: #fff;
  margin-bottom: 30px;
}
#menu #menu_mobile .item-name,
#menu #menu_mobile .item-price {
  color: #d4ac74;
}
#menu #menu_mobile .item-description {
  color: #fff;
}
#menu .spicy {
  width: 20px;
}
#menu .menu_header {
  color: #fff;
  font-size: 30px;
  margin: 15px 37% -5px;
}
#menu .cat-header {
  color: #fff;
  white-space: nowrap;
  z-index: 10;
}
#menu .cat-header-img {
  background-attachment: fixed;
  background-size: 100%;
  height: 20%;
  position: fixed;
  right: 0;
  top: 0;
  width: 60%;
  z-index: -1;
}
#menu #category_col {
  margin-top: 10px;
  z-index: 60;
}
#menu #category_col .category_menu {
  padding: 3px;
}
#menu #category_col .category_menu:hover {
  cursor: pointer;
}
#menu .category_menu .desktop-header-img .menu-header {
  background-color: rgba(68, 1, 1, 0.73);
  bottom: 0px;
  font-size: 1.4vw;
  left: 0px;
  margin: 0 auto;
  position: absolute;
}
#menu .desktop-header-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  position: relative;
  text-align: center;
  width: 100%;
}
#menu .desktop-header-img:hover {
  background-size: 200%;
}
#menu .desktop-header-1 {
  background-image: url("../img/starters_chicken_wings.png");
}
#menu .desktop-header-2 {
  background-image: url("../img/beef_chicken_with_green_beans.png");
}
#menu .desktop-header-3 {
  background-image: url("../img/mapo_tofu.png");
  -webkit-filter: brightness(1.11);
  filter: brightness(1.11);
}
#menu .desktop-header-4 {
  background-image: url("../img/specialty_honey_walnut_shrimp.png");
}
#menu .desktop-header-5 {
  background-image: url("../img/tan_tan_chopsticks.png");
}
#menu .desktop-header-6 {
  background-image: url("../img/drinks.png");
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}
#menu .inactive_btn {
  -webkit-filter: grayscale(45%);
  filter: grayscale(45%);
}
#menu .inactive_btn .menu-header {
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#menu .inactive_cat {
  display: none;
}
#menu .menu-cat {
  top: 10px;
}
#menu #menu_desktop .menu-col .item-name,
#menu #menu_desktop #menu_desktop .menu-col .item-price {
  background-color: transparent!important;
}
#menu #menu_desktop .menu-left {
  padding-right: 30px;
}
#menu #menu_desktop .menu-right {
  padding-left: 30px;
}
#menu .menu-scroll {
  background-color: rgba(255, 255, 255, 0.57);
  box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.57);
  max-height: 435px;
  overflow: auto;
  overflow-x: hidden;
  padding: 0px 10px 30px 25px;
  width: 100%;
  z-index: 5;
}
#menu #header1 {
  background-image: url("../img/starters_chicken_wings.png");
}
#menu #header2 {
  background-image: url("../img/beef_chicken_with_green_beans.png");
}
#menu #header3 {
  background-image: url("../img/mapo_tofu.png");
}
#menu #header4 {
  background-image: url("../img/specialty_honey_walnut_shrimp.png");
  background-position: center;
}
#menu #header5 {
  background-image: url("../img/tan_tan_chopsticks.png");
  background-position: 0px -16px;
}
#menu #header6 {
  background-image: url("../img/drinks.png");
}
#menu .item-name {
  padding: 0 15px !important;
}
#menu .item-description {
  color: #4c4545;
  letter-spacing: 1px;
  padding: 0 0 0 15px;
  font-family: "aleo-italic", arial;
  font-size: 12px;
  font-style: italic;
  font-weight: lighter;
}
#menu .item-name,
#menu .item-price {
  background: transparent;
  color: #313131;
  font-family: "aleo-regular", arial;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: .5px;
  margin: 0;
}
#menu .item-price {
  padding-left: 15px;
}
@media screen and (max-width: 480px) {
  #menu .item-price {
    padding: 0px;
  }
}
#menu .last-item {
  margin-bottom: 50px;
}
#menu .menu-category {
  margin-left: 2%;
}
@media screen and (max-width: 480px) {
  #menu .menu-category {
    margin-left: 4%;
  }
}
#menu .menu-col {
  margin-bottom: 0px;
}
@media screen and (max-width: 480px) {
  #menu .menu-col {
    margin-bottom: 0px !important;
  }
}
#menu .menu-container {
  width: 75%;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  #menu .menu-container {
    width: 100%;
  }
}
#menu .menu-header {
  align-self: center;
  color: #fff;
  font-family: "Maiandra", arial;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
@media screen and (max-width: 480px) {
  #menu .menu-header {
    font-size: 35px !important;
  }
}
#menu .menu-header-img {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 330px;
  justify-content: center;
  width: 100%;
}
#menu .menu-header-img:hover {
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  #menu .menu-header-img {
    background-position: center;
    height: 160px !important;
  }
}
#menu .menu-item {
  margin-top: 20px;
  padding: none;
}
@media screen and (max-width: 480px) {
  #menu .menu-item {
    margin-top: 25px;
  }
}
#menu #menu_mobile.container {
  padding: 0 !important;
}
#menu #menu_mobile .menu-container {
  padding: 0px 20px 0px 5px;
}
#menu #menu_mobile .menu-header-img {
  background-position: 0px 40%;
}
#menu .menu-price {
  padding: none;
}
#menu .menu-right {
  margin-bottom: 50px !important;
}
/* Content
	General
	Fonts
	Buttons
	Background
	Navigation Bar
*/
/* General */
body {
  margin-top: 90px;
  overflow-x: hidden;
}
.top-strip {
  background-color: #21140c;
  color: #fff;
  font-size: 8pt;
  height: 23px;
  letter-spacing: 1px;
  line-height: 23px;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  vertical-align: middle;
  width: 100%;
  z-index: 100;
}
/* Fonts */
@font-face {
  font-family: 'Mv Boli';
  src: url('/fonts/mvboli.ttf') format('truetype');
}
@font-face {
  font-family: 'Maiandra';
  src: url('/fonts/Maiandra-GD-Regular.ttf') format('truetype');
}
html,
body {
  font-family: 'Maiandra';
}
/* Buttons */
.btn-redMoon {
  color: #ffffff;
  background-color: #840A11;
  border-color: #75060C;
}
.btn-redMoon:hover,
.btn-redMoon:focus,
.btn-redMoon:active,
.btn-redMoon.active,
.open .dropdown-toggle.btn-redMoon {
  color: #ffffff;
  background-color: #B8252C;
  border-color: #75060C;
}
.btn-redMoon:active,
.btn-redMoon.active,
.open .dropdown-toggle.btn-redMoon {
  background-image: none;
}
.btn-gray {
  color: #FFFFFF;
  background-color: #3B3B3B;
  border-color: #3B3B3B;
}
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
  color: #FFFFFF;
  background-color: #544F4F;
  border-color: #3B3B3B;
}
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
  background-image: none;
}
/* Background */
.background_wood {
  background-attachment: fixed;
  background-image: url('../img/wood_bg.jpg');
  background-repeat: repeat;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}
/* NAVIVATION BAR */
.active_page a {
  color: #830a10 !important;
  font-weight: bolder;
}
#grab_nav > li.active_page > a {
  color: #fff !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.navbar {
  border-color: #830A10;
  min-height: 65px !important;
}
.navbar-brand {
  padding: 5px 10px 5px 15px;
}
.navbar-default {
  background-color: #F2C88E;
  box-shadow: 0px -4px 15px 2px #000000;
  -webkit-box-shadow: 0px -4px 15px 2px #000000;
  -moz-box-shadow: 0px -4px 15px 2px #000000;
  font-size: 18px;
}
.navbar-default:before {
  background-color: #830a10;
  background-repeat: repeat;
  border-color: transparent;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.navbar-default .navbar-nav > li > a {
  color: #d4ac74;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fff !important;
  font-weight: bolder;
  text-decoration: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #d4ac74;
}
.navbar-collapse.collapse.in ul li,
.navbar-collapse.collapsing ul li {
  text-align: center;
  font-size: 25px;
  margin: 20px;
}
.navbar-fixed-top {
  top: 23px !important;
}
#nav_logo {
  height: 65px;
}
.navbar-nav > li > a {
  line-height: 10px !important;
}
.navbar-right {
  margin-right: 0px;
  margin-top: 35px;
}
.navbar-toggle {
  border: none;
  margin-right: 25px;
  margin-top: 20px;
}
.navbar-toggle .icon-bar {
  height: 3px;
  width: 30px;
}
#main {
  z-index: 1000;
}
ul.nav a:hover {
  color: #ff0000 !important;
  text-decoration: underline;
}
@media (max-width: 480px) {
  #nav_logo {
    height: 55px;
  }
  .navbar-right {
    margin-top: 0;
  }
  .navbar-toggle {
    border: none;
    margin-right: 10px;
    margin-top: 15px;
  }
}
@media (max-width: 845px) {
  #nav_logo {
    height: 55px;
  }
}
