/* MENU */
#menu.container {
	padding: 0 !important;
	background-color: rgba(183, 168, 151, 0.25);
}
@media screen and (max-width: 480px) {
  .menu-header-img {
		height: 160px !important;
	}
}
@media screen and (max-width: 480px) {
	.menu-header {
		font-size: 30px !important;
	}
}
@media screen and (max-width: 480px) {
	.menu-col {
		margin-bottom: 0px !important;
	}
}

.menu-header-img {
	height: 330px;
	width: 100%;
	display: flex;
  justify-content: center;
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (min-width: 480px) {
	.menu-header-img {
/*		background-size: 70% 170%;*/
		background-position: center;
	}
}
.menu-header-img:hover {
	cursor: pointer;
}
.menu-header {
	font-family: "aleo-regular", arial;
	font-size: 70px;
	align-self: center;
	text-align: center;
	text-shadow: 3px 4px 5px #000;
	color: white;
	font-weight: bold;
}
.menu-category {
	 	margin-left: 2%;
}
@media screen and (max-width: 480px) {
	.menu-category {
		margin-left: 4%;
	}
}
.menu-container {
		width: 75%;
    margin: 0 auto;
}
@media screen and (max-width: 480px) {
	.menu-container {
		width: 100%;
	}
}
.menu-col {
	margin-bottom: 50px;
}
.menu-item {
	margin-top: 50px;
}
.last-item {
	margin-bottom: 50px;
}
.item-name {
	padding: 0 15px !important;
}
.item-name, .item-price {	
	color: rgba(84, 84, 84, 0.84);
	font-family: "aleo-regular", arial;
	font-size: 16px;
	margin: 0;
	background: rgb(237, 234, 229);
	padding: 0;
	letter-spacing: .5px;
	font-weight: normal;
}
.item-description {
	color: #a2a0a0;
	font-family: "aleo-italic", arial;
	font-size: 12px;
	font-style: italic;
	letter-spacing: 1px;
	font-weight: lighter;
	padding: 0 0 0 15px;
}


#header1 {
	background-image: url("http://static.seriouseats.com/1/live/pages/chinese-food-nyc/650px/sit-downs-cafe-china-flickr-garrett-ziegler.jpg");
}

#header2 {
	background-image: url("https://img.clipartfox.com/b8de7ba511b2c3a9ab7480aafb69aaca_jade-inn-chinese-food-chinese-food_625-350.jpeg");
}

#header3 {
	background-image: url("http://chinastarrestaurantsalem.com/custom/1.jpg");
}
