/* NAVIVATION BAR */
#main {
	z-index: 1000;
}
#nav_logo {
	height: 45px;
}
.navbar-brand {
	padding: 5px 10px 5px 15px;
}
.navbar-collapse.collapse.in ul li, .navbar-collapse.collapsing ul li {
	text-align: center;
	font-size: 25px;
	margin: 20px;
}
.navbar-nav>li>a {
	line-height: 10px !important;
}

.navbar-right {
	margin-right: 0px;
	margin-top: 5px;
}

/* MENU */
@media screen and (max-width: 480px) {
  .menu-header-img {
		height: 200px !important;
	}
}
@media screen and (max-width: 480px) {
	.menu-header {
		font-size: 40px !important;
	}
}
@media screen and (max-width: 480px) {
	.menu-col {
		margin-bottom: 0px !important;
		margin-top: -20px;
	}
}
#menu {
	margin-top: 51px;
}
.menu-header-img {
	margin-top: 50px;
	height: 350px;
	background-color: red;
	width: 100%;
	display: flex;
  justify-content: center;
}
.menu-header {
	font-size: 70px;
	align-self: center;
	text-align: center;
}
.menu-col {
	margin-bottom: 50px;
}
.menu-item {
	margin-top: 50px;
}
.item-name {
	font-size: 18px;
	font-weight: bold;
}
.item-price {
	font-size: 18px;
	font-weight: bold;
}
.item-description {
	color: gray;
	margin-left: 15px;
}
ul.nav a:hover {
	color: #ff0000 !important;
	text-decoration: underline;
}
.active_page {
	background-color: #f5e79e;

}